Cython==0.23.4
Flask==0.10.1
Flask-Mako==0.4
Flask-SQLAlchemy==2.1
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
SQLAlchemy==1.0.12
Werkzeug==0.11.4
appnope==0.1.0
decorator==4.0.9
gnureadline==6.3.3
gunicorn==19.4.5
ipython==4.1.1
ipython-genutils==0.1.0
itsdangerous==0.24
mistune==0.7.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
simplegeneric==0.8.1
traitlets==4.1.0
wsgiref==0.1.2
